.healthcare {
	padding-top: 80px;

	@media (max-width: 768px) {
		padding-top: 50px;
	}

	@media (max-width: 480px) {
		padding-top: 30px;
	}

	&__body {
		display: flex;
		flex-direction: column;
	}

	&__content {
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 15px;

			@media (max-width: 768px) {
				margin-bottom: unset;
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size: 44px;
		line-height: 126%;
		color: #000;

		&:not(:last-child) {
			margin-bottom: 14px;
		}

		@media (max-width: 480px) {
			font-size: 34px;
		}
	}

	&__text {
		max-width: 600px;
		margin: 0 auto;
	}

	&__list-box {
		padding: 45px 40px;
		background: url("../img/healthcare/healthcare_bg.png") center / contain no-repeat;

		@media (max-width: 480px) {
			padding: 25px 15px;
		}
	}

	&__list {
		display: flex;

		@media (max-width: 1000px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item {
		display: flex;
		flex: 0 1 33.333%;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background: #fff;
		box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
		border-radius: 8px;
		padding: 35px 25px;
		transition: all 0.3s;

		&:not(:last-child) {
			margin-right: 72px;

			@media (max-width: 1000px) {
				margin-right: unset;
				margin-bottom: 20px;
			}
		}

		@media (max-width: 1000px) {
			flex: 0 1 48%;

			& + * {
				margin-left: 20px;

				@media (max-width: 768px) {
					margin-left: unset;
				}
			}

			&:last-child {
				margin-left: unset;
			}
		}

		@media (max-width: 768px) {
			flex: 0 1 100%;
		}
	}
}

.healthcare--item {
	&__icon {
		width: 87px;
		height: 72px;
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		color: #000;
		margin-top: 58px;

		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	&__text {
	}
}
